body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-right: 2%;
}

.half-width img {
    width: 80%;
}
.line-button{
    text-decoration: none;
    background: orange;
    background-image: linear-gradient(orange, tomato);
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item h3{
    color: orange;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
}
#full-stack-developer{
    border-left: 5px solid tomato;
}
#baby-developer{
    border-left: 5px solid blue;
}
footer p{
    font-size: 20px;
    text-align: center;
}